h2 {
  font-family: Gotu;
}

.img-container {
 display: flex;
 justify-content: center;
 align-items: center;
  width: 95%;
  padding: 15px;
  border: 5px solid black;
  overflow: hidden;
}

.shop-img {
  width: 95%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.shop-info-parent-container {
display: flex;
justify-content: space-evenly;
border: 3px solid black;
width: 90%;
}

.shop-info-left-container, .shop-info-right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 3px solid black; */
}

.shop-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #808D88;
  border: 5px solid #808D88;
  margin: 20px;
  height: 70%;
  padding: 20px;
  overflow: auto
} 