h2 {
  font-family: Gotu;
}

p {
  padding-left: 30px;
  padding-right: 30px;
  color: #FAF9F9;
}

.img-container {
 display: flex;
 justify-content: center;
 align-items: center;
  width: 95%;
  padding: 3px 2px 3px 2px;
  border: 5px solid black;
  overflow: hidden;
  border: 5px;
  border-bottom: 5px solid #35453b;
  display: inline-block;
  box-shadow: 10px 10px 20px rgba(143, 17, 17, 0.1), 0px 8px 30px rgba(5, 5, 5, 0.13);
  border-radius: 4px;
}

.img-container:hover {
  transform: scale(1.05); 
}

.shop-img {
  width: 95%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.shop-info-parent-container {
display: flex;
justify-content: space-evenly;
width: 90%;
margin-top: 25px;
animation: slideFromLeft 0.5s forwards; 
}

.shop-info-left-container, .shop-info-right-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  border: 1px solid black;
  font-size: 20px;
  font-family: Gotu;
  background-color: #35453b(255, 255, 255, 0.1); 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px; 
  box-shadow: 0px 4px 6px rgba(10, 10, 10, 10); 
  animation: slideFromLeft 0.90s forwards; 
}

.shop-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #808D88;
  border: 5px solid #808D88;
  margin: 20px;
  height: 70%;
  padding: 20px;
  overflow: auto
} 

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;  
  }
  to {
    transform: translateX(0);
    opacity: 1; 
  }
}