h3 {
  font-family: Gotu;
  font-size: 2em;
  color: #35453b;
  padding: 0;
  margin: 0;
}

img {
  border: 2px solid #35453b;
}

h4 {
  font-family: Sacramento;
  font-size: 1.5em;
  color: #35453b;
  padding-bottom: 15px;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #d5b9ac;
  height: 85%;
  width: 80%;
  margin: 0;
  padding: 20px;
  box-shadow: 0 0 5px #35453b, 0 0 10px #35453b, 0 0 15px #35453b,
    0 0 20px #35453b;
}

.card:hover {
  cursor: pointer;
  transition-duration: 0.2s;
  transform: scale(1.025);
  box-shadow: 0 0 8px #35453b, 0 0 12px #35453b, 0 0 17px #35453b,
    0 0 22px #35453b;
}

.card:active {
  transition-duration: 0.2s;
  transform: scale(1.055);
  box-shadow: 0 0 5px #1a1e22, 0 0 10px #1a1e22, 0 0 15px #1a1e22,
    0 0 20px #1a1e22;
}
